#Ignore thumbnails created by Windows & Mac
Thumbs.db
.DS_Store

#Ignore thumbnails created by Windows & Mac
Thumbs.db
.DS_Store

# Ignore everything in the "Untracked" folder
Untracked/

# Ignore IDE folders
.vs/
.vscode/
.idea/

# Ignore python venvs
.venv/

#Ignore binaries
*.exe
[Bb]in
[Dd]ebug*/
[Rr]elease*/

# Ignore log files
*.log


# Ignore IDE folders
.vs/
.vscode/
.idea/

# Ignore python venvs
.venv/
venv/

#Ignore binaries
*.exe
[Bb]in
[Dd]ebug*/
[Rr]elease*/

# Ignore log files
*.log


data_train/
dataset_split/
puvodni_mr_data/
labels/
__pycache__/
.venv/
venv/
.vscode/
.idea/
results_3D/
vysledky_modelu/
*.nii.gz
*.csv
*.pth
*.png