# NOTE: On Windows with Python 3.10+, "pyradiomics" must be compiled from source.
# This requires "Visual Studio Build Tools" (Desktop development with C++) to be installed.
# To install: 
# 1. pip install numpy versioneer
# 2. pip install pyradiomics --no-build-isolation
# 3. pip install -r Documentation/requirements.txt

--extra-index-url https://download.pytorch.org/whl/cu126
torch
monai==1.3.0
optuna==3.6.1
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
scipy
scikit-image
tqdm==4.66.4
SimpleITK
nibabel==5.2.1
torchio
pyradiomics
pyvista
matplotlib==3.9.0
seaborn==0.13.2